{% import 'macros.html' as macro%}
{% extends 'base.html'%}
    {% block content %}
       
        <!-- Content block -->
        
        <h3> Top Sources</h3>
            <ul>
                {{ macro.displaySourceList(popular)}}
            </ul>
            
            {% endblock%}
    


 <!-- {% for source in source_list %}
        <li><a  href="/articles/{{ source.id}}">{{ source.name}}</a></li>
    {% endfor %}

{% for articles in articles_list %}
        <li>{{ articles.title}}</li>
        <img src="{{ articles.urlToImage}}" alt="">
    {% endfor %} -->



