{% macro displaySourceList(source_list) %}
<div class="container-fluid ">
    <div >

        {% for source in source_list %}
         <div class="col-md-6 ">
            <div class="panel panel-default text-center bg-info" id="display1">
                <div class="panel-heading">
                    <h4 span style="font-weight: 900;">{{ source.name}}</h4>
                </div>
                <div class="panel-body">
                    <p>{{ source.description}}</p>
                     <a class="btn btn-info" href="/articles/{{ source.id}}" role="button">READ MORE</a>
                </div>
            </div>
        </div> 
        </div>
        {% endfor %}
    </div>
{% endmacro %}

{% macro displayArticleList(articles_list) %}
<div class="container-fluid">
    <div class="row">
        {% for articles in articles_list %}
        <div class="col-md-6 ">
            <div class="panel panel-default text-center" id ="display">
                <div class="panel-heading">
                    <h4> <b>{{ articles.title}} </b></h4>
                </div>
                <div class="panel-body">
                    <img src="{{ articles.urlToImage}}" alt="" width="90%" height="90%">
                    <p>{{ articles.content}}</p>
                   
                    <a class="btn btn-info" href="{{ articles.url}}" role="button">READ MORE</a>
                    <p> <b>Date Published:{{ articles.publishedAt}} </b></p>
                </div>
            </div>
        </div>
        {% endfor %}
    </div>

</div>

{% endmacro %}




   

